.title h1{
    text-align: center;
    color: #38B6FF;
    text-transform: uppercase;
    transform: translate(0px, -130px);
    font-size: 50px;

    position: absolute;
    left: 0;
    right: 0;
}

.title img {
    height: 160px;
    opacity: 50%;
    display: block;
    margin: auto;
}

.title img.right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


@font-face {
    font-family: Gagalin-Regular;
    src: url("./png/Gagalin-Regular.otf") format("otf");
}