.title h1{
    text-align: center;
    color: #38B6FF;
    text-transform: uppercase;
    font-family: Gagalin-Regular;
}

.title {
    margin-bottom: 50px;
}

.title img {
    width: 80%;
    display: block;
    margin: auto;
}

.title img.right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


@font-face {
    font-family: Gagalin-Regular;
    src: url("./png/Gagalin-Regular.otf") format("otf");
}