h1.title {
    text-align: center;
    margin-top: 0px;
    padding-top: 0.67em;
    color: #38B6FF;
    text-transform: uppercase;
    font-family: Gagalin-Regular;
}

@font-face {
    font-family: Gagalin-Regular;
    src: url("./png/Gagalin-Regular.otf") format("otf");
}