.enigmas {
    margin: 80px auto;
    text-align: center;
}

.enigma {
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
}

.enigma .enigma-title {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 70%;

    background-color: var(--buttons);
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}

.enigma .completed {
    background-color: lightgreen;
    border-radius: 20px;

}



.quizz {
    margin: 80px auto;
    text-align: center;
}

.quizzes {
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
}

.quizz .quizz-title {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 70%;
    min-height: 300px;

    background-color: var(--buttons);
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}

.answer{
    float: right;
    margin: 2em ;
}
.answer input{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    height: 44px;
}

.answer button{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    height: 50px;
    background-color: var(--buttons);
}


.art {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    padding: 20px;
    background-color: rgb(120 206 244);
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.art img {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.art audio {
    width: 100%;
    margin-top: 1em;;
}

.carte {
    margin: auto;
    width: 90%;
    height: 450px;
}

.carte iframe {
    width: 100%;
    height: 100%;
}






.art-cell {
    position: relative;
    display: flex;
    margin-right: 1px;
    box-sizing: border-box;
}

.art-img {
    width: 100%;
}

.art-content {
    width: 100%;
    padding-left: 10px;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.art-sum {
    margin-top: 20px;
    font-size: 25px;
    overflow: hidden;
}

.quizz .testing{
    margin: auto;
    width: 300px;
    margin-top: 150px;
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 50%;
    border-radius: 3px 0 0 3px;
    margin-right: 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.labyrinth {
    background: url("https://firebasestorage.googleapis.com/v0/b/art-n-joliette.appspot.com/o/Ours%20Biface%2Fmaze.jpg?alt=media&token=d3917a67-0906-4871-97ee-855a8d0d0f0a") no-repeat;
    background-size: 300px;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.react-pattern-lock__point-inner {
    background: grey;
    border-radius: 50%;
}

div.react-pattern-lock__connector {
    background: grey;
}