div.mySlides img{
    width: 50%;
    display: block;
    margin: auto;
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    margin-left: 25%;
    color: white;
    background: grey;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

div.quizz-title div .prev, .next{

    margin-left: -25%;
}

/* Position the "next button" to the right */
.next {
    right: 25%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
